@page "/Modificar-Suscriptor"

@using Suscripcion_Encode.Shared
@inject NavigationManager NavigationManager
@inject HttpClient Http
@using System.Text.Json

@inject IJSRuntime JS

<h3>Modificar Suscriptor</h3>

<div class="d-flex position-sticky">
    <div class="input-group">
        <select @bind="tipo" placeholder="Tipo documento" class="form-control">
            @foreach (string item in Enum.GetNames(typeof(Suscriptor.TiposDocumento)))
            {
                <option value="@item"> @item</option>
            }
        </select>
        <input @bind="@numero" placeholder="N° Documento" class="form-control" />
        <div class="input-group-append">
            <button @onclick="Buscar" class="btn btn-primary" type="button">Buscar</button>
        </div>
    </div>
</div>

<hr />

@if (ocultar == false)
{
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th></th>
                <th>Nombre y Apellido</th>
                <th>Documento</th>
                <th>Dirección</th>
                <th>Teléfono</th>
                <th>E-mail</th>
                <th>Usuario</th>
                <th>Contraseña</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="Modificar-Suscriptor/@suscriptor.IdSuscriptor" class="btn btn-sm btn-warning">Modificar</a></td>
                <td>@suscriptor.Nombre @suscriptor.Apellido</td>
                <td>@suscriptor.TipoDocumento: @suscriptor.NumeroDocumento</td>
                <td>@suscriptor.Direccion</td>
                <td>@suscriptor.Telefono</td>
                <td>@suscriptor.Email</td>
                <td>@suscriptor.NombreUsuario</td>
                <td>@suscriptor.Password</td>
            </tr>
        </tbody>
    </table>
}

@code {
    private Suscriptor.TiposDocumento tipo; //tipo documento

    private string numero; //numero documento

    private bool ocultar = true;

    Suscripcion suscripcion = new Suscripcion();

    Suscriptor suscriptor = new Suscriptor();

    async Task Buscar()
    {
        var existe_suscriptor = await Http.GetAsync($"api/suscriptores/existe/{tipo}/{numero}");

        if (existe_suscriptor.IsSuccessStatusCode)
        {
            var respuestastring = await existe_suscriptor.Content.ReadAsStringAsync();

            suscriptor = JsonSerializer.Deserialize<Suscriptor>(respuestastring,
            new JsonSerializerOptions() { PropertyNameCaseInsensitive = true });

            ocultar = false;
        }
        else
        {
            string mensajeconfirma = $"No existe suscriptor, ¿Desea crearlo?";
            if (await JS.InvokeAsync<bool>("confirm", mensajeconfirma))
            {
                NavigationManager.NavigateTo("/Registrar-Suscriptor");
            }
        }
    }
}